html{
  background-color: #e4e5e7;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  padding: 15px;
}

.gray_p{
  color: #b9bed1;
  font-family: "Crimson Text";
  font-size: 16px;
  font-style: italic;
}

.body{
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: 3738px;
  margin: 0px auto 0px auto;
  color: #343e5c;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
/*general styles*/
.block{
  border-radius: 5px;
  background-color: #ffffff;
}
/*header*/
.header{
  width: 100%;
  height: 146px;
  display: flex;
  flex-wrap: wrap;
}

.nav{
  width: 100%;
  height: 90px;
  display: flex;
  border-bottom: 1px solid #f0f2f7;
}

.menu_button{
  width: 177px;
  border-right: 1px solid #e4e5e7;
}

.nav:nth-child(2n){
  height: 56px;
  border-bottom: none;
}

.nav3{
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.a{
  margin-right: 50px;
  display: inline-block;
  text-decoration: none;
  color: #3a405b;
}

.a_trans{
    transform: rotate(180deg);
}

.nav3 .a:first-child{
  margin: auto auto auto 100px;
}

.nav3 .a:last-child{
  margin: auto 100px auto auto;
}

.a4{
  border-radius: 58px;
  border: 24px solid #ffffff;
  box-shadow: 2px 2px 2px 1px rgba(1, 1, 1, .2);
}

.gray_nav{
  width: 1083px;
}

.search{
  width: 200px;
  border-right: 1px solid #e4e5e7;
  border-left: 1px solid #e4e5e7;
}
/*header end*/
/*main*/
.main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slider_div{
  width: 100%;
  height: 500px;
  background-color: #1c1e23;
  margin-bottom: 50px;

}

.main_content{
  width: 1170px;
  height: 1814px;
  margin:0px auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.top_nav{
  width: 1170px;
  height: 56px;
  display: flex;
}

.sort_by{
  width: 245px;
  border-right: 2px solid #e4e5e7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort_by p{
  width: 90%;
}

.select{
  margin-left: 15%;
  border: none;
  outline: none;
  font: inherit;
  text-transform: inherit;
}

.item_search{
  width: 695px;
  border-right: 2px solid #e4e5e7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input{
  box-sizing: border-box;
  width: 163px;
  height: 32px;
  border:none;
  border-radius: 16px;
  background-color: #e4e5e7;
  color: gray;
  padding-left: 15px;
}

.price_inp{
  width: 64px;
  color: black;
}

.item_search .span1{
  margin-left: 10px;
}

.item_search .span2{
  margin-left: 20px;
}

.item_search .span3{
  margin-left: 20px;
  width: auto;
  height: 20px;
}

.span3 p{margin: 0;}

.radio{
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 10px;
}


.country{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 226px;
  text-align: center;
}

.country p{
  width: 90%;
}

.left_nav{
  width: 270px;
  height: 1219px;
  margin: 30px 30px auto auto;
  display: flex;
  flex-direction: column;
}

.left_nav_block{
  margin-bottom: 30px;
}

.left_nav_block:nth-child(3n){
  margin-bottom: 32px;
}

.left_nav_block:last-child{
  margin-bottom: 0px;
}

.left_nav1{
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.dropdown{
  box-sizing: border-box;
  outline: none;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e4e5e7;
  display: block;
}

.hid{
  background-color: #f0f2f7;
  color: #a1a8bd;
  display: none;
}

.dd1:focus~.hid1{display: block;}
.dd2:focus~.hid2{display: block;}
.dd3:focus~.hid3{display: block;}


.left_nav2{
  height: 359px;
}

.name_block{
  height: 48px;
  border-bottom: 1px solid #e4e5e7;
  padding-left: 15px;
}

.avalible{
  height: 143px;
  display: flex;
  flex-direction: column;
}

.radio1{
  height: 94px;
  width: 100%;
  border-bottom: 1px solid #e4e5e7;
  padding-left: 15px;
}

.radio1 p{
  width: 100%;
}


.av_rad{
  width: 100%;
}

.radio2{
  height: 47px;
  display: flex;
}

.radio2_span{
  width: 50%;
  padding-left: 15px;
  padding-top: 15px;
}

.brands{
  height: 216px;
  display: flex;
  flex-direction: column;
}

.checkbox1{
  height: 167px;
}



.ch1{
  width: 20px;
  height: 20px;
  margin: 0 15px 0 15px;
}

.checkbox2{
  height: 203px;
}

.left_nav3{
  display: flex;
  flex-direction: column;
  height: 252px;
}

.left_nav4{
  display: flex;
  flex-direction: column;
  height: 96px;
}

.items{
  width: 870px;
  height: 1608px;
  margin: 30px auto 30px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.item_block{
  width: 270px;
  height: 380px;
  margin: auto 30px 30px 0px;
  display: flex;
  flex-direction: column;
}

.inside_item{
  margin: 20px auto 0 auto;
}


.big_block{
  width: 570px;
  margin-right: 0px;
}

.no_marg{
  margin-right: 0px;
}

.page_num{
  display: flex;
  width: 1170px;
  height: 90px;

}

.best_sellers{
  width: 1170px;
  height: 396px;
  display: flex;
  flex-wrap: wrap;
  margin:0px auto 52px auto;
}

.name_bs{
  width: 100%;
  height: 56px;
}

.best_sellers_block{
  width: 25%;
  height: 340px;
  box-sizing: border-box;
  border-right: 1px solid #e4e5e7;
  border-radius: 0px;
  margin-right: 0px;
}

.best_sellers_block:last-child{
  border-right: none;
}

.comments{
  width: 100%;
  height: 430px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name_comments{
  width: 550px;
  height: 64px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.name_comments h2{
  margin: auto;
  margin-top: 0;
  align-self: flex-start;
}

.name_comments p{
  margin: auto;
  margin-bottom: 0;
  align-self: flex-end;
}

.comment_div{
  width: 961px;
  height: 151px;
  display: flex;
  justify-content: space-around;
}

.comment{
  width: 261px;
  height: 100%;
  border: 1px dotted blue;


}
/*main end*/
.footer{
  width: 100%;
  height: 400px;
  background-color: #222328;
}

.footer_nav{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_nav .a{
  color: #ffffff;
}
.cond{
  display: inline-block;
  margin-top: 14px;
}
